html,
body {
    margin: 0;
    background-color: #E8E9EB;
}

#infoHead {
    font-family: Open Sans;
    position: fixed;
    width: 100%;
    background-color: #14213d;
    color: #fafafa;
    height: 25px;
    font-size: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#displayInfo {
    overflow-x: hidden;
    font-family: Open Sans;
    padding-top: 35px;
}

#displayInfo div {
    font-weight: 600;
    font-size: 17px;
    color: #2D2A32;
}

#displayInfo p {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 16px;
    color: #000;
    letter-spacing: .01em;
}

.infoBtn {
    padding-left: 5px;
}

#options {
    width: 100%;
    bottom: 0;
    position: fixed;
}

#optionsHead {
    background-color: #d6d6d6;
    color: #222;
    height: 25px;
    font-size: 18px;
    padding-top: 3px;
    text-align: center;
}

#optionsList {
    background-color: #E8E9EB;
    z-index: 10000;
    font-family: Noto Sans;
    display: block;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.03em;
    white-space: nowrap;
    padding-bottom: 30px;
}

#optionsList div {
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

#optionsList .active {
    background-color: #374358;
    color: #fff;
}

#nav {
    background-color: #E8E9EB;
    position: fixed;
    z-index: 100000;
    width: 100%;
}

#nav.active {
    background-color: #374358;
    position: fixed;
    z-index: 100000;
    width: 100%;
}

#lists {
    position: sticky;
    padding-bottom: 25px;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
}

#nav-wrapper {
    height: 80px;
}

#main {
    text-align: center;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

#searchBox {
    background-color: #f0f2fa;
    font-size: 18px;
    height: 35px;
    padding-left: 5px;
    width: 90%;
}

#header {
    background-color: #14213d;
    height: 25px;
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-top: 3px;
}

hr {
    margin: 0;
    margin-left: 48px;
    height: 1px;
    border: none;
    background-color: #dddddd;
}

.fileButton {
    background-color: #E8E9EB;
    font-family: Open Sans;
    display: block;
    font-size: 18px;
    letter-spacing: 0.03em;
    white-space: nowrap;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;
    background-image: url('/image/pdf.png');
    background-size: 10.5%;
    background-repeat: no-repeat;
    background-position: 3% 60%;
}

.fileButton.active {
    background-color: #374358;
    color: #fff;
}

#softkeys {
    overflow: hidden;
    vertical-align: middle;
    background-color: #d6d6d6;
    color: #000022;
    border-top: 1px solid #a5a5a5;
    position: fixed;
    width: 100%;
    height: 25px;
    bottom: 0;
}

#softkeys>* {
    display: inline-block;
    padding-left: 5px;
    width: 69px;
}

#softkey-left,
#softkey-right {
    font-weight: 400;
    font-size: 14px;
}

#softkey-right {
    text-align: end;
}

#softkey-center {
    padding-top: 3px;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
}