html,
body {
    margin: auto;
    width: 100%;
    background-color: #dadada;
}

.dark {
    filter: invert(100%) sepia(20%) brightness(0.7)
}

#easy-read {
    font-family: Open Sans;
    padding-left: 5px;
}

#canvas {
    display: block;
    margin: auto;
    padding: 0;
    height: 100%;
}

#loader {
    display: inline-block;
    position: relative;
    width: 80px;
}

#loader div {
    position: absolute;
    top: 33px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #383961;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

#loader div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

#loader div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

#loader div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

#loader div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

#loader-container {
    margin: 0;
    padding-left: 33%;
    padding-top: 50%;
}

#password-container {
    padding: 50px 0;
    box-sizing: border-box;
    text-align: center;
}

#pdf-password {
    border: 1px solid #aaa;
    background-color: #e8e8e4;
    padding: 5px;
    width: 180px;
    height: 25px;
    font-size: 16px;
}

#password-message {
    text-align: center;
    color: #d62828;
    margin-top: 10px;
    font-size: 15px;
}

p {
    color: #293241;
    letter-spacing: 0.01em;
    font-size: 16px;
}

#softkeys {
    overflow: hidden;
    vertical-align: middle;
    background-color: #111;
    color: #fff;
    position: fixed;
    width: 100%;
    height: 25px;
    bottom: 0;
}

#softkeys>* {
    display: inline-block;
    padding-left: 5px;
    width: 69px;
}

#softkey-left,
#softkey-right {
    font-weight: 400;
    font-size: 14px;
    padding-top: 5px;
}

#softkey-right {
    text-align: end;
}

#softkey-center {
    padding-top: 3px;
    font-weight: 600;
    font-size: 19px;
    text-align: center;
}